/* Center text */
.topic {
  text-align: center;
}

/* Center text and colored header 708238*/
.topic-header {
  text-align: center;
  background-color: #FCC201;
}

.about {
  background-color: #708238;
}
