{% extends "layout.html" %}

{% block title %}About{% endblock %}

{% block content %}
  <div class="topic">
    <h1>Welcome to Robotics!</h1>
  </div>
    
  <br>
  <br>
  
  <div class="topic">
    <h2>Purpose</h2>
    <p>Our mission/goal is to provide a creative space for students of all abilities/capabilities to build and experiment with robotics, 3D printing, and to use the many different tools that we have available.</p>
  </div>

  <br>
  <br>

  <div class="topic">
    <h2>Meeting Times</h2>
    <p>Due to COVID-19, our meetings have largely been to discuss our plans for the upcoming school year. Currently, our meetings are on Fridays at 9:30.</p>
  </div>
  <br>

  <div class="topic">
    <h2>Location</h2>
    <p>Robotics Club is in the Maker Space, which can be found in the Computer Science Academy. This is the building up by the driveway, across from the tennis courts. The Maker Space is the room straight ahead when you walk into the building.</p>
  </div>
  <br>
  <br>

  <div class="topic">
    <h2>Leadership</h2>
    <h4>  Positions</h4>
    <p>   In our club, we have several leadership positions including President, Vice President, Secretary and Treasurer. In the upcoming years, there will be several leadership positions available, so any members not in a leadership have the opportunity to earn one.</p>
    <h4>  Opportunities</h4>
    <p> Leadership opportunities in our club involve working with Junior High and Elementary school students, as well as fill in later.</p>
  </div>
  <br>
  <br>
    
  <div class="topic">
    <h2>Getting Involved</h2>
    <p></p>
  </div>
  
{% endblock %}
